include header
h1 Welcome to My Portfolio

//- api url 
div.container
    a(href="/api/projects") View Project List API
    br
    br
    p View Project Details API - /api/projects/:id
    br
    br
    a(href="/api/skills") View Skill List API
    br
    br
    p View Skill Details API - /api/skills/:id
    